@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.quiz-container {
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px grey;
    width: 600px;
    overflow: hidden;
}

.header {
    padding: 3rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.btn {
    background-color: blue;
    color: white;
    border: none;
    display: block;
    width: 100%;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
}

.btn:hover {
    background-color: blue;
    text-decoration: underline;
}

.btn:focus {
    outline: none;
    background-color: green;
}